/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-position: center;
  background-color: rgb(88, 88, 88);
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

/* Styles untuk layar kecil (misalnya, perangkat seluler) */
@media (max-width: 768px) {
  .hero {
    padding-top: 20px; /* Mengurangi padding atas pada bagian hero untuk perangkat seluler */
    padding-bottom: 20px; /* Mengurangi padding bawah pada bagian hero untuk perangkat seluler */
  }

  .hero h1 {
    font-size: 3rem; /* Mengurangi ukuran font judul pada bagian hero untuk perangkat seluler */
    margin-top: 10px; /* Mengurangi margin atas pada judul untuk perangkat seluler */
    margin-bottom: 10px; /* Mengurangi margin bawah pada judul untuk perangkat seluler */
  }

  .hero p {
    font-size: 1.5rem; /* Mengurangi ukuran font paragraf pada bagian hero untuk perangkat seluler */
  }

  .company-overview {
    padding-top: 20px; /* Mengurangi padding atas pada bagian company overview untuk perangkat seluler */
    padding-bottom: 20px; /* Mengurangi padding bawah pada bagian company overview untuk perangkat seluler */
  }

  .company-overview h2 {
    font-size: 2.5rem; /* Mengurangi ukuran font judul pada bagian company overview untuk perangkat seluler */
    margin-top: 10px; /* Mengurangi margin atas pada judul untuk perangkat seluler */
    margin-bottom: 10px; /* Mengurangi margin bawah pada judul untuk perangkat seluler */
  }

  .company-overview p {
    font-size: 1.25rem; /* Mengurangi ukuran font paragraf pada bagian company overview untuk perangkat seluler */
  }
}

/* Tambahkan ini ke file CSS global Anda, misalnya, globals.css */

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: black;
  color: white;
  padding: 0.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.carousel-arrow.next {
  right: 5px;
}

.carousel-arrow.prev {
  left: 5px;
}

@media (max-width: 768px) {
  .carousel-arrow {
    padding: 0.2rem;
  }

  .carousel-arrow.next {
    right: 2px;
  }

  .carousel-arrow.prev {
    left: 2px;
  }

  .hero {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .hero h1 {
    font-size: 2.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .hero p {
    font-size: 1rem;
  }

  .company-overview {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .company-overview h2 {
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .company-overview p {
    font-size: 1rem;
  }
}
